a.buttom{
border:solid 1px rgb(0,9,0);
background-color:rgb(50,50,50);
color: #FF9933;
text-decoration:none;
padding:4px;
border-radius:3px;
font-size:1.3em;
display:inline-block;
transition-property:background-color;
transition-duration:5s,1s;
transition-delay:1s;
}
a.buttom:hover{
border:solid 1px rgb(0,9,0);
background-color:rgb(230,230,250);
color: #990000;
text-decoration:none;
padding:4px;
border-radius:3px;
font-size:2.3em;
}
ul.def{
padding:0;
list-style-type:none;
}